<footer class="site-footer">
<!-- <a href="https://github.com/alixedi/typewriter">Typewriter</a> by <a href="http://twitter.com/alixedi">alixedi</a> -->
	<p class="copyright text-muted">
	    Copyright © 2015-2018 by <a href="#">WangHaiQuan.</a> All rights reserved.
	    <iframe
	        style="margin-left: 2px; margin-bottom:-5px;"
	        frameborder="0" scrolling="0" width="91px" height="20px"
	        src="https://ghbtns.com/github-btn.html?user=whq1988&repo=whq1988.github.io&type=star&count=true" >
	    </iframe>
    </p>
</footer>
